body {
  margin: 0px;
}

.section1 {
  background-image: url(assets/main-bg.jpg);
  background-color: #080a0b;
  height: 960px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section2 {
  background-image: url(assets/the-games-bg.jpg);
  height: 960px;
  background-position: center;
  background-size: cover;
}

.section3 {
  background-image: url(assets/features.jpg);
  height: 960px;
  background-position: center;
  background-size: cover;
}

.section4 {
  background-image: url(assets/requirements.png);
  height: 960px;
  background-position: center;
  background-size: cover;
}

.section5 {
  background-image: url(assets/top-score-bg.png);
  background-color: #080a0b;
  height: 960px;
  background-position: center;
  background-size: cover;
}

.section6 {
  background-color: #080a0b;
  height: 960px;
  background-position: center;
  background-size: cover;
}
